<div class ="new-text">
  <%= form_tag("/pris/#{@pri.id}", method: :patch) do %>
    <p class="block1">本文</p>
    <textarea name="text" rows="10" cols="90" class="textarea"><%= @pri.text %></textarea>
    <input type = "submit" value = "投稿" class="bottun" >
  <% end %>
</div>